.video-card {
  overflow: hidden;
  border-radius: 8px;
  width: 380px;
  height: 300px;
}

.video-cardChCollapse {
  width: 320px;
  height: 270px;
}

.video-thumbnail {
  height: 200px;
  width: 320px;
  object-fit: cover;
  border-radius: 8px;
}

.video-info {
  display: flex;
  gap: 10px;
}

.description {
  flex: 1;
}

.video-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.video-meta {
  font-size: 14px;
  color: gray;
}

.video-options {
  position: relative;
  padding: 10px;
}

.options-icon {
  cursor: pointer;
  font-size: 20px;
}

.options-menu {
  position: absolute;
  top: 25px;
  right: 0;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 5px 0;
  min-width: 100px;
  z-index: 10;
}

.options-menu.hide {
  display: none;
}

.options-menu.show {
  display: block;
}

.option-item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 14px;
}

.option-item:hover {
  background-color: #f1f1f1; /* Light gray background color on hover */
}

@media (max-width: 600px) {
  .video-cardChCollapse {
    height: 100%; /* Full height for video card in small screens */
    width: 100%; /* Full width for video card in small screens */
  }

  .video-thumbnail {
    border-radius: 0px; /* Remove border radius for video thumbnail in small screens */
    width: 100%; /* Full width for video thumbnail in small screens */
  }
}