.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
}

.loginForm {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 36px;
  font-size: large;
  height: min-content;
  gap: 12px;
  background: white;
  box-shadow: 10px 10px 20px black;
}

.loginInput {
  height: 30px;
  width: 300px;
  padding: 4px;
}

.loginForm button {
  align-self: center;
  border-radius: 4px;
  padding: 4px 16px;
}

.loginForm button:hover {
  background: red;
  border: none;
}

@media (max-width: 600px) {
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
  }

  .loginForm {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    font-size: large;
    min-height: 50vh; /* Minimum height for login form on small screens */
    gap: 12px;
    background: white;
    box-shadow: 10px 10px 20px black; /* Shadow for login form */
  }
}