* {
    padding: 0px;
    margin: 0px;
}

aside {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    left: 0;
    top: var(--header-height);
    position: fixed;
    width: 15vw;
    height: 92vh;
    overflow-y: scroll;
    background: white;
}

aside button {
    font-size: x-large;

}

aside span {
    font-size: small;
}

.container1 {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.usericon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

#icon {
    border: 2px solid rgb(196, 196, 196);
    background: rgb(236, 236, 236);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0px;
}

.container1 button {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    background: none;
    border: none;
    border-radius: 8px;
    column-gap: 16px;
}

aside.collapsed {
    overflow: hidden;
    width: min-content;
}

aside.collapsed .container1 {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0px;
    background-color: white;
    height: 100vh;
}

aside.collapsed .container1 button {
    flex-direction: column;
    align-items: center;
    padding: 12px 16px;
}

aside.collapsed .container1 span {
    font-size: xx-small;
    padding: 6px 4px;
}

aside.collapsed .container1 :nth-child(3) {
    padding: 12px 0px;
}

.container1 button:hover {
    background: gainsboro;
}

.container2 {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.container2 button {
    padding: 8px 16px;
    display: flex;
    column-gap: 8px;
    background: none;
    border: none;
    border-radius: 8px;
    column-gap: 16px;
    align-items: center;
}

.container2 button:hover {
    background: gainsboro;
}

.container3 {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.container3 button {
    padding: 8px 16px;
    display: flex;
    column-gap: 8px;
    background: none;
    border: none;
    border-radius: 8px;
    column-gap: 16px;
    align-items: center;
}

.container3 button:hover {
    background: gainsboro;
}

.container4 {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.container4 button {
    padding: 8px 16px;
    display: flex;
    column-gap: 8px;
    background: none;
    border: none;
    border-radius: 8px;
    column-gap: 16px;
    align-items: center;
}

.container4 button:hover {
    background: gainsboro;
}

.container5 {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.container5 button {
    padding: 8px 16px;
    display: flex;
    column-gap: 8px;
    background: none;
    border: none;
    border-radius: 8px;
    column-gap: 16px;
    align-items: center;
}

.container5 button:hover {
    background: gainsboro;
}

.container6 {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.container6 button {
    padding: 8px 16px;
    display: flex;
    column-gap: 8px;
    background: none;
    border: none;
    border-radius: 8px;
    column-gap: 16px;
    align-items: center;
}

.container6 button:hover {
    background: gainsboro;
}

.container7 {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding: 12px;
}

.container7 button {
    font-size: small;
    border: none;
    background: none;
    font-weight: bold;
}

#copyright {
    font-size: small;
    padding: 0px 16px;
}

.mbl-view-container {
    display: none;
}

/* Resonsiveness */

@media (max-width: 600px) {
    .sidebar {
        display: none;
    }

    .mbl-view-container {
        display: flex;
        padding: 4px 0px;
        background: white;
        position: fixed;
        bottom: 0px;
        width: 102%;
        background: white;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0px 5px 8px 0.1px black;
    }

    .mbl-view-ele {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
        background: none;
        border: none;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    aside.collapsed .container1 button {
        padding: 4px; /* Adjust padding for buttons in collapsed sidebar */
    }

    .container1,
    .container2,
    .container4,
    .container5,
    .container6 {
        padding: 0px; /* Remove padding for containers */
    }

    aside {
        width: 180px; /* Set width for sidebar */
    }

    .container4 p {
        display: none; /* Hide paragraphs in container4 */
    }

    .container5 p {
        display: none; /* Hide paragraphs in container5 */
    }
}