.videoGrid {
  /* padding: 18px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  gap: 12px;
  overflow: hidden;
}

.exrtaData {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Category section */
.category {
  display: flex;
  gap: 10px;
  padding: 10px;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  justify-content: center;
}

.category-item {
  background-color: #f1f1f1;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.category-item:hover {
  background-color: #d1d1d1;
}

/* Video container */
.video-container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-left: 1.5vw;
  column-gap: 15px;
  row-gap: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: auto;
}

/* Loader styling */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Responsiveness */
@media (max-width: 600px) {
  .category {
    scrollbar-width: none; /* Hide scrollbar */
    justify-content: left; /* Align items to the left */
    margin-left: 14px; /* Margin for category section */
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .category {
    justify-content: flex-start; /* Align items to the left */
    padding: 16px; /* Padding for category section */
    scrollbar-width: none; /* Hide scrollbar */
  }

  .category-item {
    padding: 4px 16px; /* Padding for category items */
  }
  .video-container1{
    justify-content: center;
  }
}